.sidebar{
    flex: 2;
    margin-top: 1rem;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
}

.sidebaricons ul li{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-bottom: 1.2rem;
}
.sidebaricons ul li span{
    margin-left: 15px;
}
.sidebarbutton{
    width: 150px;
    border: none;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
}
.sidebarfriendlist{
    margin-top: 1rem;
}
.sidebarfriend{
    align-items: center;
}